<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assign To Group</title>
</head>
{{#guest}}
<body>
<table>
    <tr>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td>
            <form action="/go-to-guests" method="post">
                <button type="submit">Assigned Guests</button>
            </form>
        </td>
        <td>
            <form action="/go-to-unassigned-guests" method="post">
                <button type="submit">Unassigned Guests</button>
            </form>
        </td>
    </tr>
</table>

<br>
Guest Name:{{firstName}} {{lastName}}

<form action="/assign-to-group" method="post">
    <input type="hidden" value="{{id}}" name="id"/>
    <input type="text" placeholder="Group Name" name="name"/>
    <button type="submit">Assign to Group</button>
</form> <br>
</body>
{{/guest}}
</html>