<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assign Room</title>
</head>
{{#guest}}
<body>
<form action="/go-to-guests" method="post">
    <button type="submit">Assigned Guests</button>
</form> <br>

<form action="/go-to-unassigned-guests" method="post">
    <button type="submit">Unassigned Guests</button>
</form> <br>

Guest Name:{{firstName}} {{lastName}}<br>
{{#isAssigned}}Room Number:{{room.number}}{{/isAssigned}}
{{^isAssigned}}Waiting To Be Assigned{{/isAssigned}}

<form action="/assign-to-room" method="post">
    <input type="hidden" value="{{id}}" name="id"/>
    <input type="number" placeholder="Room Number" name="roomNumber"/>
    <button type="submit">Assign to Room</button>
</form> <br>

<table>
    <tr>
        <th>Room Number</th>
        <th>Number of Beds</th>
        <th>Room Type</th>
    </tr>
    {{#rooms}}
    {{^hasGuest}}
    <tr>
        <td>{{number}}</td>
        <td>{{numberOfBeds}}</td>
        <td>{{type}}</td>
    </tr>
    {{/hasGuest}}
    {{/rooms}}
</table> <br>
</body>
{{/guest}}
</html>