<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter Credit Card</title>
</head>
<body>
{{#guest}}
<form action="/create-credit-card" method="post">
    <input type="hidden" value="{{id}}" name="id"/>
    <input type="text" placeholder="Name of Card" name="type"/>
    <input type="number" placeholder="Credit Card Number" name="number"/>
    <input type="date" placeholder="Expiration Date" name="expirationDate"/>
    <input type="text" placeholder="Billing Address" name="billingAddress"/>
    <button type="submit">Enter Credit Card</button>
</form>
{{/guest}}
</body>
</html>