<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a Room</title>
</head>
<body>
<form action="/go-to-rooms" method="post">
    <button type="submit">Room List</button>
</form> <br>
<form action="/create-room" method="post">
    <input type="number" placeholder="Room Number" name="number"/><br>
    <input type="number" placeholder="Room Rate" name="rate"/><br>
    <input type="number" placeholder="Number of Beds" name="numberOfBeds"/><br>
    <input type="text" placeholder="Type of Room" name="type"/><br>
    <button type="submit">Create Room</button>
</form>
</body>
</html>