<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credit Card Info</title>
</head>
<body>
<table>
    <tr>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td>
            <form action="/go-to-guests" method="post">
                <button type="submit">Assigned Guests</button>
            </form>
        </td>
        <td>
            <form action="/go-to-unassigned-guests" method="post">
                <button type="submit">Unassigned Guests</button>
            </form>
        </td>
    </tr>
</table>

<br>
<table>
    <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Number</th>
        <th>Expiration Date</th>
        <th>Billing Address</th>
        <th></th>
    </tr>
    {{#creditCards}}
    <tr>
        <td>{{type}}</td>
        <td>{{ownerName}}</td>
        <td>{{number}}</td>
        <td>{{expirationDate}}</td>
        <td>{{billingAddress}}</td>
        <td><form action="edit-credit-card-info" method="get">
            <input type="hidden" value="{{id}}" name="id"/>
            <button type="submit">Edit Card Info</button>
        </form> </td>
    </tr>
    {{/creditCards}}
</table>
</body>
</html>