<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guest List</title>
</head>
<body>
<table>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td>
            <form action="/logout" method="post">
                <button type="submit">Logout</button>
            </form>
        </td>
        <td>
            <form action="/create-guest" method="get">
                <button type="submit">Create Guest</button>
            </form>
        </td>
        <td>
            <form action="/go-to-rooms" method="post">
                <button type="submit">Room List</button>
            </form>
        </td>
        <td>
            <form action="/go-to-unassigned-guests" method="post">
                <button type="submit">Unassigned Guests</button>
            </form>
        </td>
        <td>
            <form action="/create-group" method="get">
                <button type="submit">Create Group</button>
            </form>
        </td>
    </tr>
</table>

<br>

<table>
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td>
            <form action="/guests" method="get">
                <input type="text" placeholder="First Name, Last Name or Email" name="search"/>
                <button type="submit">Search</button>
            </form>
        </td>
        <td>
            <form action="/guests" method="get">
                <input type="hidden" value="today" name="date"/>
                <button type="submit">Today</button>
            </form>
        </td>
        <td>
            <form action="/guests" method="get">
                <input type="date" name="newDate"/>
                <button type="submit">Look at Date</button>
            </form>
        </td>
    </tr>
</table>
<br>

<table>
    <tr>
        <th></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Room Number</th>
        <th>Rate</th>
        <th>Arrival Date</th>
        <th>Departure Date</th>
        <th>Credit Card Info</th>
        <th>Group Info</th>
        <th>Notes</th>
        <th></th>
    </tr>
    {{#guests}}
    {{#isAssigned}}
    <tr>
        <td>
            <form action="/guest-info" method="get">
                <input type="hidden" value="{{id}}" name="id"/>
                <button type="submit">Guest Info</button>
            </form>
        </td>
        <td>{{firstName}}</td>
        <td>{{lastName}}</td>
        <td>{{room.number}}
            <form action="/assign-to-room" method="get">
                <input type="hidden" value="{{id}}" name="id"/>
                <button type="submit">Change Room</button>
            </form>
        </td>
        <td>
            {{^hasRate}}
            <form action="/assign-rate" method="get">
                <input type="hidden" value="{{id}}" name="id"/>
                <button type="submit">Assign Rate</button>
            </form>
            {{/hasRate}}
            {{#hasRate}}{{rate}}
            <form action="/assign-rate" method="get">
                <input type="hidden" value="{{id}}" name="id"/>
                <button type="submit">Edit Rate</button>
            </form>
            {{/hasRate}}
        </td>
        <td>{{arrival}}</td>
        <td>{{departure}}</td>
        <td>{{#hasCreditCard}}
            <form action="/credit-card-info" method="get">
                <input type="hidden" value="{{id}}" name="id">
                <button type="submit">Credit Card Info</button>
            </form>

            <form action="/create-credit-card" method="get">
                <input type="hidden" value="{{id}}" name="id"/>
                <button type="submit">Add Credit Card Info</button>
            </form>{{/hasCreditCard}}
        {{^hasCreditCard}}
            <form action="/create-credit-card" method="get">
                <input type="hidden" value="{{id}}" name="id"/>
                <button type="submit">Add Credit Card Info</button>
            </form> {{/hasCreditCard}}
        </td>
        <td>{{#isInGroup}}
            <form action="/group-info" method="get">
                <input type="hidden" value="{{group.id}}" name="id"/>
                <button type="submit">{{group.name}}</button>
            </form> {{/isInGroup}}
        {{^isInGroup}}
            <form action="/assign-to-group" method="get">
                <input type="hidden" value="{{id}}" name="id"/>
                <button type="submit">Assign To Group</button>
            </form>
            {{/isInGroup}}
        </td>
        <td>
            <form action="/notes" method="get">
                <input type="hidden" value="{{id}}" name="id"/>
                <button type="submit">Guest Notes</button>
            </form>
        </td>
        <td>
            <form action="/remove-guest" method="post">
                <input type="hidden" value="{{id}}" name="id"/>
                <button type="submit">Remove Guest</button>
            </form>
        </td>
    </tr>
    {{/isAssigned}}
    {{/guests}}
</table>
</body>
</html>