<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Guest</title>
</head>
<body>
<form action="/create-guest" method="post">
    <input type="text" placeholder="First Name" name="firstName"/>
    <input type="text" placeholder="Last Name" name="lastName"/>
    <input type="number" placeholder="Number of guests" name="numberOfGuests"/>
    <input type="text" placeholder="Address" name="homeAddress"/>
    <input type="text" placeholder="Phone Number" name="phoneNumber"/> <br>
    <input type="number" placeholder="Number of Stays" name="numberOfStays"/>
    <input type="text" placeholder="Email" name="email"/>
    <input type="date" placeholder="Arrival Date" name="arrival"/>
    <input type="date" placeholder="Departure Date" name="departure"/>
    <input type="time" placeholder="Check-in Time" name="checkInTime"/>
    <input type="time" placeholder="Check-Out Time" name="checkOutTime"/>
    <button type="submit">Create Guest</button>
</form>
</body>
</html>