<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guest List</title>
</head>
<body>
{{#user}}
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form> <br>

<form action="/create-guest" method="get">
    <button type="submit">Create Guest</button>
</form> <br>

<form action="/go-to-rooms" method="post">
    <button type="submit">Room List</button>
</form> <br>

<form action="/go-to-unassigned-guests" method="post">
    <button type="submit">Unassigned Guests</button>
</form> <br>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Number of Guests</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Number of Stays</th>
        <th>Email</th>
        <th>Arrival Date</th>
        <th>Departure Date</th>
        <th>Check-In Time</th>
        <th>Check-Out Time</th>
        <th>Room Number</th>
        <th>Credit Card Info</th>
        <th>Group Info</th>
        <th></th>
        <th></th>
    </tr>
    {{#guests}}
    {{#isAssigned}}
    <tr>
        <td>{{firstName}}</td>
        <td>{{lastName}}</td>
        <td>{{numberOfGuests}}</td>
        <td>{{homeAddress}}</td>
        <td>{{phoneNumber}}</td>
        <td>{{numberOfStays}}</td>
        <td>{{email}}</td>
        <td>{{arrival}}</td>
        <td>{{departure}}</td>
        <td>{{checkInTime}}</td>
        <td>{{checkOutTime}}</td>
        <td>{{room.number}}</td>
        <td>{{#hasCreditCard}}<form action="/credit-card-info" method="get">
            <input type="hidden" value="{{id}}" name="id">
            <button type="submit">Credit Card Info</button>
        </form><form action="/create-credit-card" method="get">
                <input type="hidden" value="{{id}}" name="id"/>
                <button type="submit">Add Credit Card Info</button>
            </form>{{/hasCreditCard}}
        {{^hasCreditCard}}<form action="/create-credit-card" method="get">
                <input type="hidden" value="{{id}}" name="id"/>
                <button type="submit">Add Credit Card Info</button>
            </form> {{/hasCreditCard}}</td>
        <td>{{#isInGroup}}<form action="/group-info" method="get">
            <input type="hidden" value="{{group.id}}" name="id"/>
            <button type="submit">{{group.name}}</button>
        </form> {{/isInGroup}}
        {{^isInGroup}}
            <form action="/create-group" method="get">
                <input type="hidden" value="{{id}}" name="id"/>
                <button type="submit">Create and Add To Group</button>
            </form>
            <form action="/assign-to-group" method="get">
                <input type="hidden" value="{{id}}" name="id"/>
                <button type="submit">Assign To Group</button>
            </form>
            {{/isInGroup}}</td>
        <td>
            <form action="/assign-to-room" method="get">
                <input type="hidden" value="{{id}}" name="id"/>
                <button type="submit">Change Room</button>
            </form>
        </td>
        <td>
            <form action="/remove-guest" method="post">
                <input type="hidden" value="{{id}}" name="id"/>
                <button type="submit">Remove Guest</button>
            </form>
        </td>
    </tr>
    {{/isAssigned}}
    {{/guests}}
</table>
{{/user}}
</body>
</html>