<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guest Info</title>
</head>
<body>
<table>
    <tr>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td>
            <form action="/go-to-guests" method="post">
                <button type="submit">Assigned Guests</button>
            </form>
        </td>
        <td>
            <form action="/go-to-unassigned-guests" method="post">
                <button type="submit">Unassigned Guests</button>
            </form>
        </td>
    </tr>
</table>

<br>


{{#guest}}
Guest Name:{{firstName}} {{lastName}}<br>
Room Number:{{room.number}}<br>
{{#hasRate}}Rate:{{rate}}{{/hasRate}}{{^hasRate}}Rate:No Assigned Rate{{/hasRate}}<br>
Email:{{email}}<br>
Phone Number:{{phoneNumber}}<br>
Home Address:{{homeAddress}}<br>
Number of Stays:{{numberOfStays}}<br>
Date of Arrival:{{arrival}}<br>
Date of Departure:{{departure}}<br>
Time of Check-In:{{checkInTime}}<br>
Time of Check-Out:{{checkOutTime}}<br>
{{/guest}}
</body>
</html>