<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HotelEAS</title>
</head>
<body>
{{^user}}
Hello, welcome to a simple and easy to use front desk web application. Please sign-up or if you already have an account login.
<form action="/signup" method="post">
    <input type="text" placeholder="Create Username" name="username"/>
    <input type="password" placeholder="Create Password" name="password"/>
    <button type="submit">Sign-Up</button>
</form><br>

<form action="/login" method="post">
    <input type="text" placeholder="Enter Username" name="username"/>
    <input type="password" placeholder="Enter Password" name="password"/>
    <button type="submit">Login</button>
</form>
{{/user}}

{{#user}}
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form> <br>

<form action="/create-room" method="get">
    <button type="submit">Create Room</button>
</form> <br>

<form action="/create-guest" method="get">
    <button type="submit">Create Guest</button>
</form> <br>
<table>
    <tr>
        <th>Room Number</th>
        <th>Room Rate</th>
        <th>Number of Beds</th>
        <th>Room Type</th>
    </tr>
    {{#rooms}}
    <tr>
        <td>{{number}}</td>
        <td>{{rate}}</td>
        <td>{{numberOfBeds}}</td>
        <td>{{type}}</td>
    </tr>
    {{/rooms}}
</table> <br>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Number of Guests</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Number of Stays</th>
        <th>Email</th>
        <th>Arrival Date</th>
        <th>Departure Date</th>
        <th>Check-In Time</th>
        <th>Check-Out Time</th>
    </tr>
    {{#guests}}
    <tr>
        <td>{{firstName}}</td>
        <td>{{lastName}}</td>
        <td>{{numberOfGuests}}</td>
        <td>{{homeAddress}}</td>
        <td>{{phoneNumber}}</td>
        <td>{{numberOfStays}}</td>
        <td>{{email}}</td>
        <td>{{arrival}}</td>
        <td>{{departure}}</td>
        <td>{{checkInTime}}</td>
        <td>{{checkOutTime}}</td>
    </tr>
    {{/guests}}
</table>

{{/user}}
</body>
</html>