<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rates</title>
</head>
<body>
<table>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td>
            <form action="/go-to-guests" method="post">
                <button type="submit">Assigned Guests</button>
            </form>
        </td>
        <td>
            <form action="/go-to-unassigned-guests" method="post">
                <button type="submit">Unassigned Guests</button>
            </form>
        </td>
        <td>
            <form action="/go-to-rooms" method="post">
                <button type="submit">Room List</button>
            </form>
        </td>
        <td>
            <form action="/descending-rates" method="get">
                <button type="submit">Rates Descending Order</button>
            </form>
        </td>
        <td>
            <form action="/ascending-rates" method="get">
                <button type="submit">Rates Ascending Order</button>
            </form>
        </td>
    </tr>
</table>

<br>

<table>
    <tr>
        <th>Room Number</th>
        <th>Base Rate</th>
        <th>AAA/AARP</th>
        <th>Friends and Family</th>
        <th>Employee</th>
    </tr>
    {{#rates}}
    <tr>
        <td>{{room.number}}</td>
        <td>{{base}}</td>
        <td>{{aarp}}</td>
        <td>{{friendsAndFamily}}</td>
        <td>{{employee}}</td>
    </tr>
    {{/rates}}
</table>
</body>
</html>