<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rate Info</title>
</head>
<body>
<table>
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td>
            <form action="/go-to-rooms" method="post">
                <button type="submit">Room List</button>
            </form>
        </td>
        <td>
            <form action="/go-to-guests" method="post">
                <button type="submit">Assigned Guests</button>
            </form>
        </td>
        <td>
            <form action="/go-to-unassigned-guests" method="post">
                <button type="submit">Unassigned Guests</button>
            </form>
        </td>
    </tr>
</table>
<br>

{{#rates}}
Room Number: {{room.number}} <br>
Base Rate: {{base}} <br>
Friends And Family Rate: {{friendsAndFamily}} <br>
AAA/AARP: {{aarp}} <br>
Employee: {{employee}} <br>
Comp: {{comp}} <br>
{{/rates}}
</body>
</html>