<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HotelEAS</title>
</head>
<body>
{{^user}}
Hello, welcome to a simple and easy to use front desk web application. Please sign-up or if you already have an account login.
<form action="/signup" method="post">
    <input type="text" placeholder="Create Username" name="username"/>
    <input type="password" placeholder="Create Password" name="password"/>
    <button type="submit">Sign-Up</button>
</form><br>

<form action="/login" method="post">
    <input type="text" placeholder="Enter Username" name="username"/>
    <input type="password" placeholder="Enter Password" name="password"/>
    <button type="submit">Login</button>
</form>
{{/user}}

{{#user}}
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form> <br>

<form action="/create-room" method="get">
    <button type="submit">Create Room</button>
</form> <br>

<form action="/go-to-guests" method="post">
    <button type="submit">Assigned Guests</button>
</form> <br>

<form action="/go-to-unassigned-guests" method="post">
    <button type="submit">Unassigned Guests</button>
</form> <br>


<form action="/go-to-rooms" method="post">
    <button type="submit">All Rooms</button>
</form>

<form action="/" method="get">
    <input type="hidden" value="1" name="numberOfBeds"/>
    <button type="submit">Single Bedroom</button>
</form>

<form action="/" method="get">
    <input type="hidden" value="2" name="numberOfBeds"/>
    <button type="submit">Two Bedroom</button>
</form>

<form action="/" method="get">
    <input type="hidden" value="3" name="numberOfBeds"/>
    <button type="submit">Three Bedroom</button>
</form> <br>

<table>
    <tr>
        <th>Room Number</th>
        <th>Number of Beds</th>
        <th>Room Type</th>
        <th>Status</th>
        <th>Rates</th>
        <th></th>
    </tr>
    {{#rooms}}
    <tr>
        <td>{{number}}</td>
        <td>{{numberOfBeds}}</td>
        <td>{{type}}</td>
        <td>{{#hasGuest}}Occupied{{/hasGuest}}{{^hasGuest}}{{#isClean}}Vacant Clean{{/isClean}}{{^isClean}}Vacant Dirty{{/isClean}}{{/hasGuest}}</td>
        <td>
            {{^hasRates}}
            <form action="/create-rates" method="get">
                <input type="hidden" value="{{id}}" name="id"/>
                <button type="submit">Create Rates</button>
            </form>
            {{/hasRates}}
            {{#hasRates}}
            <form action="/rate-info" method="get">
                <input type="hidden" value="{{id}}" name="id"/>
                <button type="submit">Rate Info</button>
            </form>
            {{/hasRates}}
        </td>
        <td>
            {{^hasGuest}}
            {{#isClean}}
            <form action="/set-is-dirty" method="post">
                <input type="hidden" value="{{id}}" name="id"/>
                <button type="submit">Set As Dirty</button>
            </form>
            {{/isClean}}
            {{^isClean}}
            <form action="/set-is-clean" method="post">
                <input type="hidden" value="{{id}}" name="id"/>
                <button type="submit">Set As Clean</button>
            </form>
            {{/isClean}}
            {{/hasGuest}}
        </td>
    </tr>
    {{/rooms}}
</table> <br>

{{/user}}
</body>
</html>